#form {
    position: relative;
}

.Form .centralRow {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px 0;
}

.Form .centralRow .submitButton {
    border: 2px solid black;
    outline: none;
    background: orange;
    width: 60px;
    height: 60px;
    text-align: center;
}

.Form .centralRow .submitButton img {
    width: 40px;
}

.animation {
    background: transparent;
    border: 2px solid transparent;
    offset-path: path("M136,344 q-1,-119 27,-209 q34,-106 190,-97 q83,25 96,111 q29,109 -63,231 q-52,76 -132,78 q-169,-12 -240,-130");
    animation: explodeRocketAnimation 3s linear 1;
}

@keyframes explodeRocketAnimation {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}