#form {
    position: relative;
}

.Form .centralRow {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Form .centralRow .submitButton {
    background: transparent;
    position: relative;
    border: 0px;
    padding: 0;
    outline: none;
    width: 120px;
    height: 80px;
    text-align: center;
}

.Form .centralRow .submitButton::before {
    content: "";
    display: block;
    top: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    box-shadow: 3px -3px 0px 5px var(--primary);

}

.Form .centralRow .submitButton img {
    width: 40px;
}

.cube-1 {
    box-sizing: border-box;
    position: relative;
    height: 80px;
    width: 640px;
    background: none;
    margin-right: 40px;
    /* box-shadow: 3px -3px 0px 5px var(--primary); */    
    transform-style: preserve-3d;
    animation: lol 10s infinite linear;
}

@keyframes lol {
    0% {
        transform: rotate3d(1,1,1,0deg);
    }

    33% {
        transform: rotate3d(0,1,1,90deg);
    }

    66% {
        transform: rotate3d(1,0,1,-90deg);
    }

    100% {
        transform: rotate3d(1,1,1,0deg);
    }
}

#urlInput {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    caret-color: white;
    font-size: 20px;
    color: rgb(231, 231, 231);
    border: 2px solid var(--primary);
    outline: none;
    background: var(--bg);
}

#urlInput::placeholder {
    color: rgb(231, 231, 231);
}

.cube-1 .side {
    position: absolute;
    width: 320px; height: 80px;
    /* height: 100%;
    width: 100%; */
}

.cube-1 .side.left {
    left: 160px;
    background: #FF00FFAA;
    transform: rotateY(-90deg) translateZ(320px);
}

.cube-1 .side.right {
    left: 160px;
    background: #00FFFFAA;
    transform: rotateY(90deg) translateZ(320px);
}

.cube-1 .side.top {
    top: 320px;
    height: 320px;
    width: 640px;
    background: #ff0077aa;
    transform: rotateX(90deg) translateZ(480px);
}

.cube-1 .side.bottom {
    top: 320px;
    height: 320px;
    width: 640px;
    background: #003cffaa;
    transform: rotateX(-90deg) translateZ(-400px);
}
.cube-1 .side.front {
    background: #c8ff0000;
    width: 640px;
    transform: rotateY(-0deg) translateZ(160px);
}


.animation {
    background: transparent;
    border: 2px solid transparent;
    offset-path: path("M136,344 q-1,-119 27,-209 q34,-106 190,-97 q83,25 96,111 q29,109 -63,231 q-52,76 -132,78 q-169,-12 -240,-130");
    animation: explodeRocketAnimation 3s linear 1;
}

@keyframes explodeRocketAnimation {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}