.App {
  text-align: center;
}

.App .shortHeading {
  margin: 0;
  padding-top: calc(50vh - 240px);
  padding-bottom: 40px;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  font-size: 120px;
  letter-spacing: 0.3rem;
}

.App .ShortenerText {
  position: relative;
  color: var(--bg);
  font-size: 84px;
  text-shadow: 
    -2px -2px 0 var(--primary),
    2px -2px 0 var(--primary),
    2px 2px 0 var(--primary),
    -2px -2px 0 var(--primary)
}

.App .ShortenerText .shadow {
  position: absolute;
  left: 6px;
  bottom: 6px;
  text-shadow: 
  -1px -1px 0 white,
  1px -1px 0 white,
  1px 1px 0 white,
  -1px -1px 0 white
}

